<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Productos</h1>
        <ul id="productList">
            {{#each products}}
                <li>
                    <a href="/products/{{this._id}}"></a>{{this.title}} - ${{this.price}}
                    <form action="/carts/{{cartId}}/products/{{this._id}}" method="POST" style="display:inline;">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </li>
            {{/each}}
        </ul>

        <div class="pagination">
            {{#if pagination.hasPrevPage}}
                <a href="{{pagination.prevLink}}">Página Anterior</a>
            {{/if}}
            <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>
            {{#if pagination.hasNextPage}}
                <a href="{{pagination.nextLink}}">Página Siguiente</a>
            {{/if}}
        </div>
    </div>
</body>
</html>
